* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: white;
}

#content {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 2.5% 2.5% 0 2.5%;
}

#menu {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

#menu span {
  margin: 0 10px;
  font-size: 30px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  padding: 100px 50px;
  border-radius: 5px;
}

.card-content {
  background: rgb(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}
